@import "variaveis";

:host {
  input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: $preto-transparente-30;
    outline: none;
    color: $cor-primaria;
    font-weight: 500;

    &::placeholder {
      color: $preto-transparente-30;
      font-size: 0.85rem;
    }
    &:focus,
    &:active {
      border-color: $cor-primaria;
      border-width: 2px;
    }
  }

  .sugestoes {
    flex-wrap: wrap;

    span {
      background-color: $branco;
      margin-right: 5px;
      padding: 5px 10px;
      color: $preto-transparente-70;
      border: 1px solid $preto-transparente-70;
      margin-top: 10px;
      font-size: 0.9rem;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: rgba($cor-primaria, 0.5);
        color: $branco;
      }
    }
  }
}
